<!DOCTYPE html>    
<html lang="en">
	<%- include( 'partials/head.ejs', {page: 'About page'} )  %>
	<body>          
		<a href="/" />
        <a href="/create" />
        <a href="/popular" />
        <a href="/login" />
        <a href="/about" />
	</body>
</html>