.container-fluid {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    
}

.navbar-brand{
    display: inline;
    background-color: rgba(0,0,0,0);
    transition: background-color 1s, border-radius 1s, box-shadow 1s;
    padding: 5px;
}

.navbar-brand:hover {
  background-color: rgba(123, 28, 28, .1);
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  top:50%;
}

.navbar-brand > img {
    height: 40px;
    width: 40px;
}

a {
    color: white;
    transition: color .5s;
    text-decoration: none;
}  
  
.navbar > a:hover {
    color: rgba(255,255,255,0.5)
}
  
.logIn:active {
  box-shadow: 0 5px rgb(124, 128, 127);
  transform: translateY(4px);
}