.container-fluid {
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    
}

.navbar-brand{
    display: inline;
    background-color: rgba(0,0,0,0);
    transition: background-color 1s, border-radius 1s, box-shadow 1s;
    padding: 5px;
}

.navbar-brand:hover {
  background-color: rgba(123, 28, 28, .1);
  border-radius: 30px;
  border: none;
  box-shadow: 0px 0px 2px 2px rgb(0,0,0);
  top:50%;
}

.navbar-brand > img {
    height: 40px;
    width: 40px;
}

h1 {
    text-align: center;

}

img {
    border-radius: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}

a {
    color: black;
    transition: color .5s;
    text-decoration: none;
    font-size: 17px;
}  

a:hover {
    color: rgba(255,255,255,0.5)
}

.navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: linear-gradient(-45deg, white, #0077cd, #0077cd);;
    background-color: #0077cd;
    box-shadow: 2px 2px;
}
  
.navbar > a:hover {
    color: rgba(255,255,255,0.5)
}
  
.logIn:active {
  box-shadow: 0 5px rgb(124, 128, 127);
  transform: translateY(4px);
}


body {
    background-color: #C9CFC9;
    background: linear-gradient(-45deg, white, white, white, white, #0077cd);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    display: block
  }

.show-body{
        width: 40%;
        margin: 0 auto
}

.show-page-image{
    width: 100%;
    padding: 10px;
    border-radius: 10%;
}

p {
    text-align: center;
    font-size: 30px;
}

#like-btn {
    background-color: rgba(0,0,0, .25);
    border: none;
    font-size: 50px;
    transition: color .5s, transform .5s;
    background-color: transparent;
    outline: none;
    border: none;
  }
.like-btn-unliked {
    color: white;
}
.like-btn-liked {
    color: red;
}

.likesNum {
    margin-top: 20px;
    margin-left: 600px;
}

.top-bar{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: -10px;
    align-items: center;
}

.profile-pic-top {
    max-width: 60px;
    transition: scale 1s;
}

.profile-pic-top:hover {
    scale: 1.2
}

.profile-pic{
    max-width: 60px;
}

#show-page-delete{
    background-color: rgba(0,0,0,0);
    color: black;
    border: none;
    font-size: 14px;
}

.dropdown-item{
    font-size: 14px;
}

.imageDescription{
    margin-bottom: 22px;
    margin-top: 10px;
    font-weight: 350;
}

#content{
    width: 100%;
    margin-top: 0px;
}
li {
    display: block;
    padding: 3px
}
.com-top-line{
    display: flex;
}
.comment-profile-image{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    transition: height .1s, width .1s;
}
.comment-profile-image:hover {
    height: 100%;
}
.commentUser{
    text-decoration: solid;
    font-weight: bold;
}

.deleteCommentIcon{
    height: 15px;
    width: 15px
}


.display-username {
    font-size: 20px;
    font-weight: bolder;
    display: flex;
    justify-content: right;
    align-items: center;
    align-content: space-around;
    margin: 20px;
}

.line {
    border: 3px solid;
  }

.new-nav {
    margin-left: 100px;
    
  }

.about-nav {
    margin-right: 450px;
  }

.log-nav {
    margin-right: 30px;
  }
 
.pop-nav {
    margin-right: 1px;
  }

  #dropdownMenuButton {
    margin-left: 428px;
    margin-top: -205px;
  }