.selector-for-some-widget {
    box-sizing: content-box;
  }

  .container-fluid .logIn{
    text-decoration: none;
    font-size: 20px;
  }

  .homeImages {
    padding-left: 
  }

  body {
    background-color: rgb(124, 128, 127);
  }


  h1 {
    text-align: center;
    color: black;
  }

  .logIn:hover {
    background-color: rgb(104, 0, 0);
    border-radius: 14%;
  }

  .logIn {
    cursor: pointer;
  }

  .navbar-brand:hover {
    background-color: rgb(104, 0, 0);
    border-radius: 14%;
  }

  .navbar-brand {
    cursor: pointer;
  }

  .logIn:active {
    box-shadow: 0 5px rgb(124, 128, 127);
    transform: translateY(4px);
  }

  .navbar-brand:active {
      box-shadow: 0 5px rgb(124, 128, 127);
      transform: translateY(4px);
  }

  label.input-group-text {
    background-color: rgb(104, 0, 0);
    color: white;
    height: 40px;
    width: 100%;
  }

  #description.form-control {
    background-color: #0077cd;
    height: 200px;
    color: white;
    font-size: 40px;
    word-wrap: break-word;
    width: 20%;
  }

  #url.form-control {
    background-color: #0077cd;
    height: 200px;
    color: white;
    font-size: 40px;
    word-wrap: break-word;
    width: 100%;
  }

  .input-group-prepend {
    width: 100%;
  }

  #image-input-one {
    padding: 5%;
  }

  #image-input-two {
    padding: 5%;
    
    
  }

  .btn.button.btn-primary.btn-lg {
    background-color: rgb(104, 0, 0);
  }
  



  

 
