.selector-for-some-widget {
    box-sizing: content-box;
  }

  .container-fluid .logIn{
    text-decoration: none;
    font-size: 20px;
  }

  .homeImages {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    flex-direction: column;
    padding: 50px;
  }

  body {
    background-color: rgb(124, 128, 127);
  }

  h1 {
    text-align: center;
    color: black;
  }

  .logIn:hover {
    background-color: rgb(104, 0, 0);
    border-radius: 14%;
  }

  .logIn {
    cursor: pointer;
  }

  .navbar-brand:hover {
    background-color: rgb(104, 0, 0);
    border-radius: 14%;
  }

  .navbar-brand {
    cursor: pointer;
  }

  .logIn:active {
    box-shadow: 0 5px rgb(124, 128, 127);
    transform: translateY(4px);
  }

  .navbar-brand:active {
      box-shadow: 0 5px rgb(124, 128, 127);
      transform: translateY(4px);
  }

  .container .input-group-text {
    background-color: rgb(104, 0, 0);
    color: white;
    padding: 50px;
  }

  .container .form-control {
    background-color: #0077cd;
    height: 200px;
    color: white;
    font-size: 40px;
  }

  .container {
    padding: 20px;
  }

  .containerTwo .form-controlTwo {
    background-color: #0077cd;
    height: 200px;
    color: white;
    font-size: 40px;
    word-wrap: break-word;
  }

  .containerTwo .input-group-text-two {
    background-color: rgb(104, 0, 0);
    color: white;
    padding: 50px;
  }
  
  .containerTwo {
    padding: 20px;
  }

