.selector-for-some-widget {
    box-sizing: content-box;
  }

  .container-fluid .logIn{
    text-decoration: none;
    font-size: 20px;
  }

  .homeImages {
    margin-left: 55px;
  }

  .image-home {
    padding: 5px;
  }

  body {
    background-color: rgb(124, 128, 127);
  }
  .container{
    display: block;
    right: 100px;
    width: 100%;
  }

  h1 {
    text-align: center;
    color: black;
  }

  .logIn:hover {
    background-color: rgb(104, 0, 0);
    border-radius: 14%;
  }

  .logIn {
    cursor: pointer;
  }

  .navbar-brand:hover {
    background-color: rgb(104, 0, 0);
    border-radius: 14%;
  }

  .navbar-brand {
    cursor: pointer;
  }

  .logIn:active {
    box-shadow: 0 5px rgb(124, 128, 127);
    transform: translateY(4px);
  }

  .navbar-brand:active {
      box-shadow: 0 5px rgb(124, 128, 127);
      transform: translateY(4px);
  }

  label.input-group-text {
    background-color: rgb(104, 0, 0);
    color: white;
    height: 40px;
    width: 100%;
  }

  #description.form-control {
    background-color: #0077cd;
    height: 200px;
    color: white;
    font-size: 40px;
    width: 20%;
  }

  #url.form-control {
    background-color: #0077cd;
    height: 200px;
    color: white;
    font-size: 40px;
    width: 100%;
  }

  .container{
    display: flex;
    align-items:flex-end;
  }

  .input-group {
    display: flex;
    justify-content: center;
    
  }
  .input-group{
    display: block;
  }
  #image-input-one {
    padding: 5%;
   
  }

  #image-input-two {
    padding: 5%;
   
  }

  #create-btn {
    background-color: rgb(104, 0, 0);
    font-size: 12px;
    width: 20%;
    margin-left: 436px;
  }

 .show-page-image{
    padding: 10px;
  }

  #show-page-delete {
    background-color: red;
    margin: 10px;
    margin-top: 90px;
  }

  #show-comment-btn {
    background-color: #0077cd;
    border-radius: 20%;
  }

  .content-show {
    padding: 10px;
  }

  .content-text {
    padding: 10px;
  }

  #edit-button {
    background-color: rgb(104, 0, 0);
    font-size: 12px;
    width: 20%;
    margin-left: 465px;
  }