.selector-for-some-widget {
    box-sizing: content-box;
  }

  .homeImages {
    margin-left: 140px;
  }
  
  .image-home {
    padding: 20px;
    border-radius: 20%;
    transition: transform .5s;
  }
  @media (min-width:901px) {
  .image-home:hover {
    transform: scale(1.5);
  }
}

 @media (max-width:900px) {
  .image-home:hover {
    transform: scale(1.1);
  }
}

  .user-photos {
    transition: height 1s, width 1s;
  }

  .user-photos:hover {
    height: 16%;
    width: 16%;
  }

  body {
    background-color: #C9CFC9;
    background: linear-gradient(-45deg, white, white, white, white, #0077cd);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }

  .show-body {
    background-color: #C9CFC9;
  }
  
  .container{
    display: block;
    right: 100px;
    width: 100%;
  }

  h1 {
    text-align: center;
    color: black;
    margin-top: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif 
  }

  label.input-group-text {
    background-color: rgb(123, 28, 28);
    color: white;
    height: 40px;
    width: 100%;
  }

  #description.form-control {
    background-color: white;
    height: 200px;
    color: white;
    font-size: 40px;
    width: 20%;
  }

  #url.form-control {
    background-color: white;
    height: 200px;
    color: white;
    font-size: 40px;
    width: 100%;
  }

  .container{
    display: flex;
    align-items:flex-end;
  }

  .input-group {
    display: flex;
    justify-content: center;
  }
 
  #image-input-one {
    padding: 5%;
  }

  #image-input-two {
    padding: 5%;
  }

  #create-btn {
    background-color: rgb(123, 28, 28);
    font-size: 12px;
    width: 20%;
    margin-left: 436px;
  }

  #create-btn:hover {
    background-color: #0077cd;
    transition: color .5s;
  }

 .show-page-image{
    padding: 10px;
    border-radius: 10%;
  }

  #show-page-delete {
    background-color: red;
    width: 10%;
    height: 5%;
    transition: color .5s;
  }

  #show-page-delete:hover {
    color: black;
  }

  #show-comment-btn {
    background-color: #0077cd;
    color: white;
    border-radius: 20%;
    transition: color .5s;
  }

  #show-comment-btn:hover {
    background-color: #0077cd;
    color: black;
  }

  .content-show {
    padding: 10px;
  }

  .content-text {
    padding: 10px;
  }

  #edit-button {
    background-color: rgb(123, 28, 28);
    font-size: 12px;
    width: 20%;
    margin-left: 465px;
    transition: color .5s;
  }

  #edit-button:hover {
    background-color: #0077cd;
  }

  .about-info {
    font-size: 25px;
    color: black;
    text-align: center;
    padding: 10px;
    font-weight: 200;
    line-height: 40px;
    word-spacing: 5px;
  }

  .about-title {
    font-size: 40px;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
  }

  #form-control-login {
    background-color: #0077cd;
    color: white;
    height: 40px;
    width: 100%;
    height: 50px;
  }

  #like-btn {
    background-color: rgba(0,0,0, .25);
    border: none;
    font-size: 50px;
    transition: color .5s, transform .5s;
    background-color: transparent;
    outline: none;
    border: none;
  }

  .likesText {
    padding-left: 600px;
    font-weight: bolder;
    
}

  #like-btn:active {
    transform: rotate(0.5turn);
  }

  #like-btn:focus {
    color: red;
  }

  #create-btn-new {
    background-color: rgb(123, 28, 28);
    font-size: 12px;
    width: 20%;
    margin-left: 436px;
    transition: color .5s;
  }

  .form-control-login {
    background-color: #0077cd;
    height: 90%;
    color: white;
    font-size: 20px;
    width: 70%;
  }

  .input-group-login {
    width: 80%;
    text-align: center;
    margin-left: 30px;
  }

  .form-control-login-two {
    background-color: #0077cd;
    height: 90%;
    color: white;
    font-size: 20px;
    width: 78%;
  }

  .input-group-login-two {
    width: 90px;
    text-align: center;
  }

  form {
    text-align: center;
  }

  .register {
    margin-top: 30px;
  }

  #login-button {
    background-color: rgb(123, 28, 28);
    font-size: 12px;
    width: 80px;
    text-align: center;
    padding: 0;
    height: 20px;
    margin-top: 20px;
    transition: color .5s;
  }

  #login-button:hover {
    background-color: #0077cd;

  }

  
  .container-fluid .logIn{
      text-decoration: none;
      font-size: 20px;
      cursor: pointer;
      
  }

  .navbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: linear-gradient(-45deg, white, #0077cd, #0077cd);;
    background-color: #0077cd;
    box-shadow: 2px 2px;
  }
  
  .navbar-brand{
      background-color: rgba(0,0,0,0);
      transition: background-color 1s, border-radius 1s, box-shadow 1s;
      padding: 5px;
  
  }
  
  .navbar-brand:hover {
    background-color: rgba(123, 28, 28, .1);
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0);
    top:50%;
  }
  
  .navbar-brand > img {
      height: 40px;
      width: 40px;
  }
  
  a {
      color: black;
      transition: color .5s;
      text-decoration: none;
  }  
    
   a:hover {
      color: rgba(255,255,255,0.5);
  }
    
  .logIn:active {
    box-shadow: 0 5px rgb(124, 128, 127);
    transform: translateY(4px);
  }

  .edit-show-btn {
    background-color: #0077cd;
    color: white;
    border-radius: 20%;
  }

  .edit-show-btn:hover {
    background-color: #0077cd;
    color: black;
  }

  .username {
    font-size: 60px;
  }

  .profile-photo {
    border-radius: 10%;
    
  }

  .user-photos {
    border-radius: 10%;
    display: inline-block;
    margin-right: 2%; 
    margin-top: 5%;
  }

  .profile {
    text-align: center;
  }

  .photos-main {
    text-align: center;
  }

  .line {
    border: 3px solid;
  }

 .new-nav {
    margin-left: 100px;
    
  }

  .about-nav {
    margin-right: 450px;
  }

  .log-nav {
    margin-right: 30px;
  }
 .pop-nav {
    margin-right: 1px;
  }
