<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstantGramification</title>
    <%- include("../partials/head") %>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <p class="about-title">
        WELCOME TO INSTANTGRAMIFICATION
        <img src="https://i.im.ge/2022/08/29/Otd9AW.apple-camera.png" height=" 90px" width="90px">
        </p>
        <p class="about-info" style="color: black">
            <strong> 
            This app is a recreation redefining the original app Instagram.
through instagramification you will be able to upload pictures/comments and edit of your choice. Our homepage will display pictures AND likes.
</strong>
           


</p>
<p class="about-info">

<strong style="color: black">1) </strong>
User loads Instagramafication in their browser and is met with images. Attached to each image are a few comments. As they browse pictures, if they see one they like they can 'like' it by clicking the like button. 
If they want to add a comment or see more conversation about an image, they can click on the image and be taken to a show page. 
When the user wishes to continue, they can go back to the home page and begin exploring additional images.
</p>
<p class="about-info">
<strong style='color: black'>2)</strong>
User loads the page and wants to see images of boats. The user searches for boats and is redirected to an index page showing images that contain "boats" in the description.
The user can click on any image, just like the home screen, to further explore the conversation on each image. This directs the user to the show page for that image. The user can comment on the picture. Once submitted, the user realizes the error of their ways and wishes to edit the comment. The user updates the contents of their comment and then submits the changes. The world will now never know about the users embarassing gaffe.
</p>
    
</body>