<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstantGrammification</title>
    <%- include ('../partials/head') %>
</head>
<body>
    <main class="container">
      <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">New image</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="image">
    
        <div class="input-group input-group-lg">
        <span class="input-group-text" id="inputGroup-sizing-lg">New caption</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="caption">
      </div>
    </main>
    <button type="button" class="btn btn-primary btn-lg">Create post</button>
</body>