<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstantGrammification</title>
    <%- include ('../partials/head') %>
</head>
<body>
    <main class="container">
      <div class="input-group input-group-lg">
        <form action="/images" method="POST" class="form">
          <div class="input-group-prepend" id="image-input-one"> 
            <label for="url" class="input-group-text">New image</label>
              <input 
                type="text" 
                class="form-control" 
                aria-label="Sizing example input" 
                aria-describedby="inputGroup-sizing-lg" 
                placeholder="image url"
                name="url"
                id ="url"
              />
          </div>            
          <div class="input-group input-group-lg" id="image-input-two">
            <label for="description" class="input-group-text">New caption</label>
            <input 
              type="text" 
              class="form-control" 
              aria-label="Sizing example input" 
              aria-describedby="inputGroup-sizing-lg" 
              placeholder="caption"
              name ="description"
              id ="description"
              />
          </div>
          <button id = "create-btn" class="btn button btn-primary btn-lg">Create post</button>
          </div>
        </form> 
    </main>
</body>