<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InstantGramification</title>
    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="loader-wrapper">
        
    </div>
    <h1>InstantGramification</h1>
    <div class="homeImages">
        <% for( let i = 0; i<images.length; i++){ %>
            <% const firstImage = images[i] %>
            <a href="/images/<%=firstImage._id%>"><img class="image-home" src="<%= firstImage.url %>" width="370px"></a>
            
            <% } %> 
            
    </div>
    
</body>
</html>



